@use "./variables" as *;

.header {
    background-color: $color-red;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    h1 {
        font-size: 20px;
        padding: 10px;
        color: $color-white;
    }
}