@use "./variables" as *;
@use "./buttons";
@use "./cards";
@use "./header";
@use "./instruction";
@use "./timer";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-body;
}